@import "tailwindcss";

/* --- CORREÇÃO DO FUNDO BRANCO E SCROLL --- */
body, html {
  background-color: #111827; /* Cor gray-900 do Tailwind */
  color: #f3f4f6; /* Cor gray-100 */
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden; 
}

/* Opcional: Estilização da Barra de Rolagem */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; 
}

::-webkit-scrollbar-thumb {
  background: #4b5563; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* NOVO: Esconder cursor de digitação (Caret) */
.caret-transparent {
  caret-color: transparent;
}